.calculator {
   border: 3px black solid;
   width: 700px;
   height: 700px;
   padding: 10px;
}
.calc-inside {
   padding: 20px;
}

.display-window {
   border: 2px solid blue;
   padding-right: 10px;
   padding-top: 5px;
}

.number-pad {
   border: 2px solid green;
   padding: 20px;
   margin-top: 20px;
}

.operator-pad {
   border: 2px solid orange;
   padding: 20px;
   margin-top: 20px;
}

.num-pad-row {
   padding-top: 30px;
   padding-bottom: 30px;
}

.op-pad-row {
   padding-top: 15px;
   padding-bottom: 10px;
}
